---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__bio {
    text-align: justify;  
    font-size: 0.9em;   
  }
.list--square {
  list-style-type: square;
  font-size: 0.7em;
}

.list--square li strong {
  color: #615d5d;; 
  font-weight: bold;
}

#degrees {
  color: #615d5d;; 
}

.bibliography {
  font-size: 0.7em;
}

.bibliography li {
  text-align: justify;
  margin-bottom: 1.0em;
}



.page__content p { 
  font-size: 0.7em; 
  text-align: justify; 

}

.custom-teaching-list {
  
  font-size: 0.7rem; 
  text-align: justify;

  h3 {
    
    font-size: 1.5em; 
  }

  ul {
    list-style-type: square; 
    padding-left: 40px; 

    li {
      margin-bottom: 1.0em; 
    }
  }
}

.conferences-list {
  
  font-size: 0.7rem; 
  text-align: justify;

  h3 {
    
    font-size: 1.5em; 
  }

  ul {
    list-style-type: square; 
    padding-left: 40px; 

    li {
      margin-bottom: 1.0em; 
    }
  }
}

.masthead__menu-item.active a {
  color: #777777;     
  pointer-events: none;     
  cursor: default;       
  text-decoration: none; 
}

a.site-title.active {
  pointer-events: none; 
  color: inherit; 
  cursor: default;
}

.research-areas-custom {
  font-size: 0.7em; 
  text-align: justify;
  p,
  ul li {
    font-size: 1em;
  }

  ul {
    list-style-type: square; 
    padding-left: 40px;
    
    li {
      margin-bottom: 1.0em;
    }
  }
}

.cv-content-styled {
  font-size: 0.7em;

  text-align: justify;

  h2 { 
    margin-top: 2em;
    margin-bottom: 1em;
  }

  h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  p { 
    font-size: 1.0em; 
  }

  ul {
    list-style-type: square;
    padding-left: 40px;     

    li {
      margin-bottom: 0.5em; 
      font-size: 1em;
    }
  }
}